// CORES
$primary: #FA4753;
$secondary: #9BA5C9;
$newBlack: #17181C;
$status: #66BB6A;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary
);

$custom-colors: (
  "newBlack": $newBlack,
  "status": $status
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// OUTRAS COISAS
$btn-font-weight: 600;
@import "../bootstrap/node_modules/bootstrap/scss/bootstrap";