* {
  margin: 0;
}

.texti {
  display: flex;
  justify-content: center;
}

.center-index{
  height: 100vh!important;
}

.center,
.center-prod,
.center-index {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-prod {
  flex-direction: column;
  height: auto !important;
  padding-top: 2rem;
}

.body-login {
  display: flex;
  flex-direction: column;
}
.table td,
th {
  vertical-align: middle !important;
}

.form-adm {
  border-color: #9ba5c9 !important;
}

.form-adm:focus {
  box-shadow: 0 0 0 0.15rem #9ba5c9 !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #fa4753; /* color of the tracking area */
}

.grid {
  width: 100%;
  padding: 4rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.grid-p{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  overflow: auto;
}